<section class="py-4">
  <div class="container mx-auto">
    <h1 class="text-6xl text-center font-bold text-white">{{ monster?.name }}</h1> <!-- Ajouter cette ligne -->
    <div class="flex flex-row justify-center">
      <div class="card-monster">
        <div id="monsterCard" *ngIf="monster" class="text-center">
          <div class="flex flex-row justify-center">
            <div class="flex flex-col items-center">
              <img class="w-96 h-auto mx-auto" src="../../../assets/wither.png" alt="monster" />
            </div>
          </div>
          <app-progress-bar [pv]="monster.pv" [pvMax]="monster.pvMax" bgType="bg-primary" faType="fa-heart" barName=": pv"></app-progress-bar>
        </div>
      </div>
    </div>
  </div>
</section>
